<%= link_to bookmarks_path, id:'bookmarks_nav', class: 'nav-link-right' do %>
  <%= t('blacklight.header_links.bookmarks') %>
<span class="nav-link-right" data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>
<% end %>
