<div class="big-nav collapse navbar-collapse">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag("shield.svg", :alt => "Emory Digital Collections") %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="branding-header-organization">
          Emory University
      </div>
    </div>
    <div class="row">
      <div class="branding-header-division">
          Emory Libraries
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="justify-end" role="navigation">
      <!-- Don't show regular search on advanced search page -->
      <% unless request.original_fullpath == "/advanced" %>
        <%= render_search_bar %>
      <% end %>
    </div>
  </div>
</div>
