<div class="big-nav collapse navbar-collapse justify-content-md-end">
  <div class="col-6">
    <!-- <a class="mb-0 navbar-brand lux-logo" href="/">Emory Digital Collections</a> -->
    <%= image_tag("shield.png", :alt => "Emory Digital Collections") %>
  </div>
  <!-- Don't show regular search on advanced search page -->
  <div class="col-6">
    <% unless request.original_fullpath == "/advanced" %>
      <div class="navbar-search navbar navbar-light bg-light" role="navigation">
        <div class="<%= container_classes %>">
          <%= render_search_bar %>
        </div>
      </div>
    <% end %>
  </div>
</div>
