<div class="footer-branding-dropdown">
  <select aria-label="Locations (Footer)" 
          name="Locations (Footer)"
          class="footer-branding-dropdown-menu"
          onchange="redirect(this)">
    <option value="">Select a Location</option>
    <option value="https://business.library.emory.edu/">Business</option>
    <option value="http://it.emory.edu/studentdigitallife/study_production_spaces/computing-center-at-cox-hall/">Cox Hall Computing Center</option>
    <option value="https://health.library.emory.edu/">Health Sciences</option>
    <option value="http://library.law.emory.edu/">Law</option>
    <option value="http://libraryservicecenter.org/">Library Service Center</option>
    <option value="https://libraries.emory.edu/music-media/index.html">Music &amp; Media</option>
    <option value="https://oxford.library.emory.edu/">Oxford College</option>
    <option value="https://rose.library.emory.edu/">Rose</option>
    <option value="https://libraries.emory.edu/science-commons/index.html">Science Commons</option>
    <option value="http://pitts.emory.edu/">Theology</option>
    <option value="https://libraries.emory.edu/woodruff/index.html">Woodruff</option>
  </select>
</div>
