<div class="copyright footer-copyright">
  <span class="copyright-notice">
    <span class="copyright-signature">Copyright &copy;
      <span class="copyright-year">2020</span>
      <span class="copyright-owner">Emory University</span>
    </span>
    <span class="copyright-rights">All Rights Reserved.</span>
    <span class="copyright-policies">
      <a href="https://libraries.emory.edu/about/policies/privacy-policy.html" class="link copyright-policy"> Privacy Policy </a>
      <a href="http://www.emory.edu/home/about-this-site/copyright.html" class="link copyright-policy"> Copyright Statement </a>
    </span>
  </span>
  <span class="copyright-address"> 201 Dowman Drive, Atlanta, Georgia 30322 </span>
  <span class="copyright-phone"> 404.727.6123 </span>
</div>
