<ul class="footer-list"><li><%= link_to "About Digital Collections", about_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Copyright and Reuse", copyright_reuse_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Contact", contact_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Donate", root_path, class: "link" %></li></ul>
