<ul class="footer-list"><li><a href="/" class="link">About Digital Collections</a></li></ul>
<ul class="footer-list"><li><a href="/" class="link">Copyright and Reuse</a></li></ul>
<ul class="footer-list"><li><a href="/" class="link">Contact</a></li></ul>
<ul class="footer-list"><li><a href="/" class="link">Donate</a></li></ul> 