<ul class="footer-list"><li><%= link_to "About Digital Collections", root_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Copyright and Reuse", root_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Contact", root_path, class: "link" %></li></ul>
<ul class="footer-list"><li><%= link_to "Donate", root_path, class: "link" %></li></ul>