<div class="footer-branding footer-branding">
  <%= link_to root_path, class: "footer-branding-logo" do %>
    <%= render "shared/footer_branding_logo" %>
  <% end %>
  <%= render "shared/footer_branding_dropdown" %>
</div>
