<!-- [Blacklight overwrite] Do not render search bar on advanced search page#L16 -->

<nav class="navbar navbar-expand-md navbar-light">
  <div class="col-md-12">
    <div class="row">
      <%= render 'shared/top_links' %>
    </div>
    <div class="row">
      <%= render 'shared/big_nav' %>
    </div>
  </div>
</nav>
