<!-- [Blacklight overwrite] Do not render search bar on advanced search page#L16 -->

<nav class="navbar navbar-expand-md navbar-light mx-auto">
  <div class="col-md-12">
    <div class="row non-mobile-links">
      <div class="non-collapse-navbar">
        <%= render 'shared/static_links' %>
        <%= render 'shared/user_util_links' %>
      </div>
    </div>
    <div class="row justify-content-between">
      <%= render 'shared/big_nav' %>
    </div>
  </div>
</nav>
