<div class="top-links collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
  <div class="emory-util-about col-6">
    <a href="/">Home</a>
  </div>
  <%= render 'shared/user_util_links' %>
</div>
