<div class="collapse navbar-collapse utility-nav justify-content-between" id="user-util-collapse">
  <ul class="navbar-nav">
    <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "About Digital Collections", root_path, class: "nav-link disabled" %></li>
    <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
  </ul>
  <%= render 'shared/user_util_links' %>
</div>
