  <div class="row">
    <section id="content" class="col-lg-4 col-md-4" aria-label="title">
      <%= title %>
    </section>
    <section id="content" class="col-lg-8 col-md-8" aria-label=<%= aria_label %>>
      <p><%= bod_text %></p>
    </section>
  </div>