
<% breadcrumb_title = "About Emory Digital Collections"; breadcrumb_link = '/about' %>
<% breadcrumb_title_abbr = breadcrumb_title.split(' ').first(3).join(' ') + '...'%>
<%= render "static/content_chunk",
      breadcrumb_title: breadcrumb_title,
      breadcrumb_title_abbr: breadcrumb_title_abbr,
      breadcrumb_link: breadcrumb_link, 
      title: link_to(
        "<h1 class='static-h1'>#{breadcrumb_title}</h1>".html_safe,
        breadcrumb_link
      ), bod_text: "Placeholder for intro copy"
%>

