<div class="container">
  <div class="row">
    <%= render "static/content_chunk",
          title: link_to(
            "<h1 class='static-h1'>About Emory Digital Collections</h1>".html_safe,
            "/about"
          ), bod_text: "Placeholder for intro copy"
    %>
  </div>
</div>
