<% breadcrumb_title = "Contact Us"; breadcrumb_link = '/contact' %>
<% breadcrumb_title_abbr = nil %>
<%= render "static/content_chunk",
      curr_page: true,
      breadcrumb_title: breadcrumb_title,
      breadcrumb_title_abbr: breadcrumb_title_abbr,
      breadcrumb_link: breadcrumb_link, 
      title:
        link_to("<h2 class='static-h2'>#{breadcrumb_title}</h2>".html_safe, breadcrumb_link),
      bod_text: "Placeholder for copy"
%>