<div class="container">
  <div class="row">
    <%= render "static/content_chunk",
          title:
            link_to("<h2 class='heading -h2'>Contact Us</h2>".html_safe, "/contact"),
          bod_text: "Placeholder for copy"
    %>
  </div>
</div>