<div class="container">
  <div class="row">
    <%= render "static/content_chunk",
          title:
            link_to("<h2 class='static-h2'>Copyright and Reuse</h2>".html_safe,
            "/copyright-reuse"),
          bod_text: "Placeholder for copy"
    %>
  </div>
</div>  