<div class="container not-found-container">
  <%= render ::Lux::BreadcrumbsComponent.new %>
  <div class="row static-heading-row not-found">
    <%= render ::Lux::StaticHeadingComponent.new(
                 title: t('static.not_found.header'), 
                 subheading: t('static.not_found.subheading').html_safe
        )
    %>
  </div>
</div>
