<div class="container not-found-container">
    <%= render 'catalog/breadcrumbs', crumb_hashes: [] %>
    <div class="row static-heading-row not-found">
      <%= render 'static/static_heading', 
              title: t('static.not_found.header'), 
              subheading: t('static.not_found.subheading').html_safe
      %>
    </div>
</div>
