<div class="facets-header">
  <h2 class="facets-heading">Explore Our Collections</h2>
</div>
<div class="tiles">
  <div class="tile-listing has-badge has-description has-action card">
    <div class="badge"> Featured Collection </div>
    <div class="tile-listing-image"><img alt="" src="explore-collections-medical.jpg" class="image"></div>
    <a href="policies/index.html" target="_self" class="link tile-listing-title">Health Sciences Center Library Artifact collection</a>
    <p class="tile-listing-description">Contains a wide selection of medical instruments including surgical instruments, physician's medicine bags, scales, tourniquets, scarifier sets, and other instruments dating from 1832 to 2000.  </p>
    <a href="policies/index.html" target="_self" class="link tile-listing-action">View Collection</a>
  </div>
  <div class="tile-listing has-badge has-description has-action card">
    <div class="badge"> Featured Collection </div>
    <div class="tile-listing-image"><img alt="" src="explore-collections-langmuir.jpg" class="image"></div>
    <a href="employment/index.html" target="_self" class="link tile-listing-title">Robert Langmuir African American Photograph Collection</a>
    <p class="tile-listing-description">Collection of photographs depicting African American life and culture collected by Robert Langmuir. </p>
    <a href="employment/index.html" target="_self" class="link tile-listing-action">View Collection</a>
  </div>
  <div class="tile-listing has-badge has-description has-action card">
    <div class="badge"> Featured Collection </div>
    <div class="tile-listing-image"><img alt="" src="explore-collections-kobe.jpg" class="image"></div>
    <a href="support-emory-libraries/twelfth-night-2019.html" target="_self" class="link tile-listing-title"> Oxford College Collection of Asian Artifacts</a>
    <p class="tile-listing-description">Contains a variety of Japanese, Korean, and Chinese artifacts, most of them purchased in Kobe, Japan by William Patillo Turner while he was a member of the Japan Mission of the United Methodist Church, South.  </p>
    <a href="support-emory-libraries/twelfth-night-2019.html" target="_self" class="link tile-listing-action">View Collection</a>
  </div>
</div>