<div class="row-flex">
  <%= render "about_this_item", document: document %>
  <%= render "subjects_keywords", document: document %>
  <%= render "publication_details", document: document %>
  <%= render "additional_details", document: document %>
</div>
