<div class="row d-none d-lg-flex">
  <div class="col-md-3">
    <%= render "metadata_col_1", document: document %>
  </div>
  <div class="col-md-6">
    <%= render "metadata_col_2", document: document %>
  </div>
  <div class="col-md-3">
    <%= render "metadata_col_3", document: document %>
  </div>
</div>
<div class="row d-lg-none">
  <div class="col">
    <%= render 'metadata_mobile', document: document %>
  </div>
</div>