<div class="row">
  <div class="col-md-4">
    <%= render "metadata_col_1", document: document %>
  </div>
  <div class="col-md-8">
    <%= render "metadata_col_2", document: document %>
  </div>
</div>
