<% if show_doc_actions? %>
  <div class="card mb-2">
    <div class="card-header">
      <%= t('blacklight.tools.title') %>
    </div>

    <ul class="list-group list-group-flush">
      <%= render_show_doc_actions @document do |config, inner| %>
        <li class="list-group-item <%= config.key %>">
          <%= inner %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
