<div id="sortAndPerPage" class="row sort-pagination clearfix">
  <div class="col-md-6">
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  </div>
  <div class="col-md-6 sort-tools" align="right">
    <%= render_results_collection_tools wrapping_class: "search-widgets float-md-right" %>
  </div>
</div>