<div id="sortAndPerPage" class="row sort-pagination clearfix<%= ' bookmarks' if request.fullpath == '/bookmarks' %>">
  <div class="col-lg-6">
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  </div>
  <div class="col-lg-6 sort-tools" align="right">
    <%= render_results_collection_tools wrapping_class: "search-widgets float-md-right" %>
  </div>
</div>
