<% if presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}) %>
<div class="document-thumbnail">
  <%= image_tag "login-required.png" %>
  <%= tn %>
</div>
<% end %>
