<div class="uv-container">
  <iframe
      class="universal-viewer-iframe"
      src="<%= request&.base_url %>/uv/uv.html#?manifest=<%= Rails.application.config.iiif_url %>/<%= document.id %>/manifest"
      width="924px"
      height="668px"
      allowfullscreen
      frameborder="0"
      title="content viewer">
  </iframe>
</div>
</br>
