<!-- Blacklight 7.33.1 Override -  utlizies our classes and desired placement of elements -->

<% if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= render 'start_over' %>
    <%= link_back_to_catalog class: 'button back-to' %>
  </div>
<% end %>

<%= render 'show_main_content' %>
