<div class="uv-container">
  <iframe
    class="universal-viewer-iframe"
    src="<%= request_base_url %>/uv/uv.html#?manifest=<%= iiif_url %>/<%= doc_id %>/manifest"
    width="924px"
    height="668px"
    allowfullscreen
    frameborder="0"
    title="content viewer">
  </iframe>
</div>
</br>