<div class="row d-none d-lg-flex">
  <div class="col-md-3"><%= first_column %></div>
  <div class="col-md-6"><%= second_column %></div>
  <div class="col-md-3"><%= third_column %></div>
</div>
<div class="row d-lg-none">
  <div class="col"><%= mobile %></div>
</div>