@import 'variables';

.advanced-search-start-over {
  border: 1px solid $charcoal;
  font: normal bold $font-size-sm $font-family-sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: $charcoal;
  transition: $link-hover-transition;
  padding: $advanced-search-button-padding;
  height: $advanced-search-button-height;

  &:hover {
    color: $charcoal;
    background-color: $white;
    text-decoration: none;
  }
}

.query-criteria-heading {
  font-size:   $advanced-search-subtitle-font-size;
}

.form-control {
  height: $search-form-height;
  margin-right: $search-form-margin-x;
  padding: $search-form-q-padding-y $search-form-q-padding-x;

  border-radius: $border-radius-xs !important;
  color: $charcoal;

  &.sort-select {
    height: $search-form-height;
    max-width: $search-form-select-width;
    margin-right: $search-form-margin-x;
    padding: 0 $search-form-select-padding-left 0 $search-form-select-padding-right;

    background: image-url("blue-material-keyboard_arrow_down.svg") no-repeat right 0.5rem center;
    border-radius:      $border-radius !important;
  }
}
