// Emory colors from https://brand.emory.edu/color.html
// Primary Palette
$emory-blue: #012169;
$dark-blue: #0c2340;
$medium-blue: #0033a0;
$light-blue: #007dba;
$yellow: #f2a900;
$gold: #b58500;
$metallic-gold: #84754e;

// Secondary Palette
$cyan: #00aeef;
$sky-blue: #41b6e6;
$teal: #487f84;
$sea-green: #006c5b;
$olive: #5c8118;
$orange: #c35413;
$red: #da291c;
$magenta: #c6007e;
$purple: #6558b1;
$grape: #6d2077;

// Neutrals Palette
$black: #101820;
$cool-gray-5: #b1b3b3;
$cool-gray-2: #d0d0ce;
$cool-gray-1: #d9d9d6;
