@font-face {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cardo";
  font-weight: normal;
  font-style: normal;
}

//== Typography
$system-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Cantarell,Roboto,Oxygen-Sans,Ubuntu,"Helvetica Neue",sans-serif;

$font-family-sans-serif: "Open Sans", sans-serif, $system-font-stack;
$font-family-serif: "Cardo", serif;
