.footer-branding-logo {
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-branding-logo .logo {
  width: 100%;
  overflow: 40px;
  z-index: 1;
}

.footer-branding-logo .logo svg {
  width: 100%;
}

.footer-branding-logo {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-top: -40px;
}

.footer-branding-logo .logo svg {
  fill: #FFFFFF;
}

.footer-branding-logo .logo svg #badge-bg {
  opacity: 1 !important;
  fill: #091C44;
}
