.footer-list .link,
.footer-list a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.footer-list .link::after,
.footer-list a::after {
  content: attr(data-subtext);
  display: block;
}
.footer-list .link .icon,
.footer-list a .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 901px) {
  .footer-list {
    grid-row: 1;
  }
}

.footer-list:nth-of-type(1), .footer-list:nth-last-of-type(2) {
  text-align: right;
  justify-self: end;
}
.footer-list:nth-of-type(2), .footer-list:nth-last-of-type(1) {
  text-align: left;
  justify-self: start;
}
@media (min-width: 901px) {
  .footer-list {
    margin-top: 50px;
  }
  .footer-list:nth-of-type(-n+2) {
    text-align: right;
    justify-self: unset;
  }
  .footer-list:nth-last-of-type(-n+2) {
    text-align: left;
    justify-self: unset;
  }
}
.footer-list .link,
.footer-list a {
  font-weight: normal;
  font-style: normal;
  color: #D0DEFD;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.footer-list .link .icon,
.footer-list a .icon {
  margin-right: 1ex;
}
.footer-list .link .icon,
.footer-list .link .icon svg,
.footer-list a .icon,
.footer-list a .icon svg {
  width: 24px;
  height: 24px;
}
.footer-list .link .icon svg,
.footer-list a .icon svg {
  fill: #D0DEFD;
}
.footer-list .link:hover, .footer-list .link.is-hover, .footer-list .link:focus, .footer-list .link.is-focus,
.footer-list a:hover,
.footer-list a.is-hover,
.footer-list a:focus,
.footer-list a.is-focus {
  color: #5387F7;
}
.footer-list .link:hover .icon svg, .footer-list .link.is-hover .icon svg, .footer-list .link:focus .icon svg, .footer-list .link.is-focus .icon svg,
.footer-list a:hover .icon svg,
.footer-list a.is-hover .icon svg,
.footer-list a:focus .icon svg,
.footer-list a.is-focus .icon svg {
  fill: #5387F7;
}
.footer-list .link:active, .footer-list .link.is-active,
.footer-list a:active,
.footer-list a.is-active {
  color: #5387F7;
}
.footer-list .link:active .icon svg, .footer-list .link.is-active .icon svg,
.footer-list a:active .icon svg,
.footer-list a.is-active .icon svg {
  fill: #5387F7;
}
.footer-list .link::after,
.footer-list a::after {
  font: italic normal 16px/1.9375 "Open Sans", sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
  font-size: 12px !important;
  line-height: 1 !important;
}
.footer-list .link.-popular,
.footer-list a.-popular {
  font: normal normal 18px/2.05 "Cardo", serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #FFFFFF;
  font-size: 20px !important;
  color: #FFFFFF;
}
.footer-list .link.-popular:hover, .footer-list .link.-popular.is-hover, .footer-list .link.-popular:focus, .footer-list .link.-popular.is-focus,
.footer-list a.-popular:hover,
.footer-list a.-popular.is-hover,
.footer-list a.-popular:focus,
.footer-list a.-popular.is-focus {
  color: #336BE6;
}
.footer-list .link.-popular:active, .footer-list .link.-popular.is-active,
.footer-list a.-popular:active,
.footer-list a.-popular.is-active {
  color: #336BE6;
}
.footer-list .link.-underline,
.footer-list a.-underline {
  text-decoration: underline;
}
.footer-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}
