.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: $footer-margin-top;
  padding-top: 0 !important;
  grid-area: footer;
}
@media (min-width: 901px) {
  .footer {
    grid-template-columns: repeat(2, 1fr) -webkit-min-content repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr) min-content repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  .footer { max-height: $footer-max-height; }
}

.footer {
  font: normal normal 16px/1.7692 $font-family-sans-serif;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: $light-blue;
  background-color: $dark-blue;
  font-size: $explore-collections-action-font-size;
  grid-row-gap: $footer-grid-row-gap;
  grid-column-gap: $navbar-padding-x;
}
.footer {
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
}
@media (max-width: 600px) {
  .footer {
    padding: 0 $footer-standard-padding 0 $footer-standard-padding;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .footer {
    padding: 0 $footer-standard-padding 0 $footer-standard-padding;
  }
}
@media (min-width: 901px) {
  .footer {
    padding: 0 $footer-wide-padding 0 $footer-wide-padding;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 0 $footer-wide-padding 0 $footer-wide-padding;
  }
}
@media (min-width: 1290px) {
  .footer {
    padding: $footer-wide-padding calc((100vw - 1250px) / 2) $footer-wide-padding calc((100vw - 1250px) / 2);
  }
}
@media (min-width: 901px) {
  .footer {
    font-size: $footer-font-nine-twelve;
  }
}
@media (min-width: 1200px) {
  .footer {
    font-size: $bread-crumb-font-size;
  }
}
@media (min-width: 1080px) {
  .footer-branding {
    margin-left: $footer-margin-left-right;
    margin-right: $footer-margin-left-right;
  }
}
