@import 'fonts';
@import 'variables';
@import 'bootstrap';

.intro-hero-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  font-size: $hero-title-font-size;
}
.intro-hero-text {
  position: relative;
  transform: translateY(-185%);
}
@include media-breakpoint-up(md) {
  .intro-hero-title {
    font-size: $hero-title-font-size-large;
  }
}

@include media-breakpoint-up(lg) {
  .intro-hero-title {
    transform: translateY(-100%);
  }
}

.carousel-image {
  filter: brightness(60%);
}