@import 'fonts';
@import 'variables';

.branding-header {
  display: inline-block;
  color: $dark-blue;
  margin-right: $navbar-padding-x;
  white-space: nowrap;
  &:hover {
    color: $branding-hover-color;
    text-decoration: none;
  }
}

.branding-header.logo {
  padding-top: $branding-padding-y;
  padding-bottom: $branding-padding-y;
  padding-right: 1;
}

.branding-header.organization {
  line-height: $branding-organization-height;
  text-transform: uppercase;
  font-size: $branding-organization-font-size;
  font-family: $font-family-serif;
}

.branding-header.division {
  padding-bottom: $branding-padding-y;
  font-size: $h4-font-size;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  .nav-link {
    font-weight: $nav-link-weight;
    font-size: $font-size-sm;
  }
}
