@import 'fonts';
@import 'variables';

.branding-header {
  display: inline-block;
  color: $dark-blue;
  white-space: nowrap;
  &:hover {
    color: $branding-hover-color;
    text-decoration: none;
  }
}

.branding-header.logo {
  padding-top: $branding-padding-y;
}

.branding-header.organization {
  line-height: $branding-organization-height;
  text-transform: uppercase;
  font-size: $branding-organization-font-size;
  font-family: $font-family-serif;
  padding-left: $branding-padding-x;
  font-weight: $font-weight-normal;
}

.branding-header.division {
  padding-left: $branding-padding-x;
  font-size: $h4-font-size;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  line-height: $branding-division-height;
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  .nav-link {
    font-weight: $nav-link-weight;
    font-size: $font-size-sm;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
  }
}
@media (min-width: 768px) {
  .nav-link:not(.last)::after {
    content: "";
    position: absolute;
    right: $nav-divider-right;
    top: $nav-divider-top;
    height: $nav-divider-height;
    width: $nav-divider-width;
    background-color: $nav-divider-color;
  }
}

a.nav-link.last {
  padding-right: 0 !important;
}

.utility-nav {
  border: $navbar-border-width $navbar-border-color;
  border-bottom-style: solid;
}
