@import 'fonts';
@import 'variables';

.branding-header-organization {
  text-transform: uppercase;
  text-align: left;
  color: $dark-blue;
  font-size: $font-size-sm;
  font-family: $font-family-serif;
  &:hover { color: $mid-blue;
            text-decoration: none;
  }
}

.branding-header-division {
  text-decoration: none;
  text-align: left;
  font-size: $h4-font-size;
  color: $dark-blue;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  &:hover { color: $mid-blue;
            text-decoration: none;
  }
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  .nav-link {
    font-weight: $nav-link-weight;
    text-transform: uppercase;
    font-size: $font-size-sm;
  }
}
