@import 'variables';

h3.heading.-h3 {
  font: normal bold $h4-font-size $font-family-sans-serif;
}

span.document-counter {
  margin-right: map-get($spacers, 4);
}

article.document > dl.row {
  margin-left: map-get($spacers, 0);

  > dt {
    padding-left: $navbar-padding-y
  }
}

dd.document-details {
  margin-right: $navbar-padding-y
}

dl.document-heading-second-row {
  margin-left: map-get($spacers, 0);
  margin-bottom: map-get($spacers, 0);
}

div.index-document-functions > .bookmark-toggle {
  width: max-content;
}

dt.index-field-name {
  padding-right: map-get($spacers, 2);
}

.document-thumbnail > a > img {
  width: $results-thumbnail-width;
}

.documents-list > .document {
  margin-bottom: $results-document-bottom-margin;
}