@import 'variables';

div#sortAndPerPage {
  position: relative;
  min-height: $results-sort-min-height;
  margin-bottom: $branding-padding-x;

  > div.page-links, div.per-page-dropdown, div#sort-dropdown {
    position: absolute;
  }

  > div.per-page-dropdown, div#sort-dropdown {
    > .dropdown-toggle {
      border-radius: $results-border-radius;
    }

    > .dropdown-menu {
      width: -webkit-fill-available;
      border-radius: $results-border-radius;
    }
  }

  > div.page-links {
    bottom: $results-box-position;
    left: $results-box-position;
  }

  > div#sort-dropdown {
    top: $results-box-position;
    left: $results-box-position;
  }

  > div.per-page-dropdown {
    bottom: $results-box-position;
    right: $results-box-position;

    > .dropdown-menu {
      min-width: $results-drop-menu-min-w;
    }
  }
}

