// bootstrap does flex-grow: 1 by default which makes the
// text input roughly the same size as the select in many cases
.input-group {
  &.col-md-12 {
    padding-right: 0;
  }
  > .form-control,
  > .custom-select {
    // width: fit-content;
    min-width: 160px;
  }
  > .custom-select {
    &.search-field {
      // flex-grow: 1;
      height: $search-form-height;
      max-width: fit-content;
    }
  }
  > .form-control {
    &.search-q {
      // flex-grow: 3;
      height: $search-form-height;
    }
  }
}

.form-inline {
  &.col-lg-7,
  &.col-md-12,
  &.col-sm-12
  {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

.custom-select.search-field {
  background: url("https://libraries.emory.edu/assets/icons/php/icon.php?id=material-keyboard_arrow_down&color=5387F7&size[width]=20&size[height]=20") no-repeat right 0.5rem center;
  margin-right: 5px;
  padding: 0px 60px 0px 20px;
  border-radius: $border-radius !important;
  -moz-box-shadow:    inset 1px 2px 4px rgba(182, 189, 204, 0.5);
  -webkit-box-shadow: inset 1px 2px 4px rgba(182, 189, 204, 0.5);
  box-shadow:         inset 1px 2px 4px rgba(182, 189, 204, 0.5);
}

.search-q {
  border-radius: $border-radius-xs !important;
  -moz-box-shadow:    inset 1px 2px 4px rgba(182, 189, 204, 0.5);
  -webkit-box-shadow: inset 1px 2px 4px rgba(182, 189, 204, 0.5);
  box-shadow:         inset 1px 2px 4px rgba(182, 189, 204, 0.5);
  color: $charcoal !important;
  margin-right: 5px;
}

.search-q:focus {
  border-color: #5387F7 !important;
}

button#search {
  width: 96px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #336BE6;
}

button#search:hover {
  border-color: #004990;
  background-color: #004990;
}