@import "lux/variables";

.button {
  display: inline-block;
  font: normal bold $font-size-sm $font-family-sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.25s ease;
  padding: $branding-padding-y $search-form-button-padding-x;
  height: $navbar-toggler-height;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &.link {
    border: 1px solid $bright-blue;
    background-color: $bright-blue;
    color: $white;
    transition: all 0.25s ease;

    &:hover {
      border-color: $mid-blue;
      background-color: $mid-blue;
    }
  }

  &.back-to {
    border: 1px solid transparent;
    background-color: transparent;
    border-color: $charcoal;
    color: $charcoal;
    transition: color 0.15s ease-in-out, 
      background-color 0.15s ease-in-out, 
      border-color 0.15s ease-in-out, 
      box-shadow 0.15s ease-in-out;

    &:hover {
      color: $white;
      border-color: $charcoal;
      background-color: $charcoal;
    }
  }
}
