@import "lux/variables";

.button {
  display: inline-block;
  font: normal bold 11px/1.6364 "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.25s ease;
  padding: 0.875rem 1.5625rem;
  height: 50px;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }

  &.link {
    border: 1px solid #336BE6;
    background-color: #336BE6;
    color: #FFFFFF;
    transition: all 0.25s ease;

    &:hover {
      border-color: #004990;
      background-color: #004990;
    }
  }

  &.back-to {
    border: 1px solid transparent;
    background-color: transparent;
    border-color: #605858;
    color: #605858;
    transition: color 0.15s ease-in-out, 
      background-color 0.15s ease-in-out, 
      border-color 0.15s ease-in-out, 
      box-shadow 0.15s ease-in-out;

    &:hover {
      color: #FFFFFF;
      border-color: #605858;
      background-color: #605858;
    }
  }
}
