@import 'variables';

.pagination-search-widgets {
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 2);
}

div#sortAndPerPage {
  margin-bottom: $branding-padding-x;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;

  > .sort-tools {
    margin-left: auto;
    right: 0;
  }

  > div.sort-tools > div.per-page-dropdown, div#sort-dropdown {
    > button.dropdown-toggle {
      border-radius: $results-border-radius;
    }

    > .dropdown-menu {
      width: -webkit-fill-available;
      border-radius: $results-border-radius;
    }
  }

  > div.sort-tools > div.per-page-dropdown {
    > .dropdown-menu {
      min-width: $results-drop-menu-min-w;
    }
  }

  > div > div.page-links {
    margin: $results-pagination-margin $navbar-padding-y;
  }
}
