@import 'colors';
@import 'logo';
@import 'fonts';

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $charcoal;

// stylelint-enable value-keyword-case
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-base-serif:        $font-size-base * 1.125; // Emory uses slightly larger fonts for serif
$font-size-sm:                $font-size-base * .875;

$h4-font-size:                $font-size-base * 1.5;

$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$line-height-base:            1.5;

$branding-hover-color:              $mid-blue;

$navbar-light-color:                $mid-blue;
$navbar-light-hover-color:          $bright-blue;
$nav-link-weight:                   $font-weight-bold;
$nav-link-disabled-color:           $base-slate;
$navbar-nav-link-padding-x:         .75rem;

// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$border-radius:               .15rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

// Card
$card-cap-bg:                       $dark-blue;
$card-cap-color:                    $gold;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-line-height:             $line-height-base * 1.2;

// Form
$input-border-color:                $base-slate;
// $input-font-family:                 $font-family-serif;
// $input-font-size:                   $font-size-base-serif;

// Button
$btn-font-size:                      $font-size-sm;
$btn-font-weight:                    $font-weight-bold;
