@import 'colors';
@import 'logo';
@import 'fonts';
@import 'footer';
@import 'footer_branding';
@import 'footer_branding_logo';
@import 'footer_branding_dropdown';
@import 'footer_list';
@import 'footer_version';
@import 'footer_copyright';

//== Typography
$system-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Cantarell,Roboto,Oxygen-Sans,Ubuntu,"Helvetica Neue",sans-serif;

$font-family-sans-serif: "Open Sans", "Verdana", $system-font-stack;
$font-family-serif: 'Cardo', serif;

// stylelint-enable value-keyword-case
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-xs:                $font-size-base * .6875 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
