@import 'colors';
@import 'fonts';

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $charcoal;

// stylelint-enable value-keyword-case
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-base-serif:        $font-size-base * 1.125; // Emory uses slightly larger fonts for serif
$font-size-sm:                $font-size-base * 0.6875;
$font-size-lg:                $font-size-base * 1.25;

$h4-font-size:                $font-size-base * 1.5;

$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$line-height-base:            1.64;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem ;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// Navs

$nav-link-padding-y:                1rem;
$nav-link-padding-x:                1rem;

// Navbar

$navbar-padding-y:                  0;
$navbar-padding-x:                  1.875rem;

$branding-organization-font-size:            0.875rem;
$branding-division-font-size:                $h4-font-size;
// Compute the branding padding-y so the branding will have the same height as navbar-text and nav-link
$nav-link-height:                            $font-size-sm * $line-height-base + $nav-link-padding-y * 2;
$branding-organization-height:               1.4375rem;
$branding-division-height:                   1.5rem;

$branding-padding-y:                         0.875rem;
$branding-padding-x:                         0.5rem;

$branding-hover-color:                        $mid-blue;

$navbar-light-color:                         $mid-blue;
$navbar-light-hover-color:                   $bright-blue;
$nav-link-weight:                            $font-weight-bold;
$nav-link-disabled-color:                    $base-slate;

$navbar-nav-link-padding-x:         0.625rem;

$navbar-border-color:               $super-light-slate;
$navbar-border-width:               1px;

$nav-divider-color:                 $super-light-slate;
$nav-divider-height:                0.75rem;
$nav-divider-width:                 1px;

$nav-divider-top:                   $nav-link-padding-y + ($font-size-sm / 4);
$nav-divider-right:                 0;

$navbar-toggler-height:             3.125rem;

// Search Form

$search-form-height:                3.125rem;
$search-form-padding-y:             1.25rem;
$search-form-margin-x:              0.3125rem;
$search-form-box-shadow:            inset 1px 2px 4px rgba($base-slate, 0.5);

$search-form-select-width:             12.5rem;
$search-form-select-padding-left:      3.75rem;
$search-form-select-padding-right:     1.25rem;
$custom-select-color:                  $charcoal;
$input-line-height:                    2.375;

$search-form-q-padding-y:           0.625rem;
$search-form-q-padding-x:           1.25rem;

$search-form-button-width:          6rem;
$search-form-button-padding-x:      1.5625rem;

// Hero Image

$hero-title-font-size:                $font-size-base * 1.75;
$hero-title-font-size-large:          $font-size-base * 3.125;

$hero-image-height:                   15rem;
$hero-image-height-large:             27.5rem;


// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$border-radius:               0.3125rem;
$border-radius-lg:            0.3rem;
$border-radius-sm:            0.2rem;
$border-radius-xs:            0.125rem;

// Card
$card-cap-bg:                       $dark-blue;
$card-cap-color:                    $gold;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-line-height:             $line-height-base * 1.2;

// Form
$input-border-color:                $base-slate;

// Button
$btn-font-size:                      $font-size-sm;
$btn-font-weight:                    $font-weight-bold;
