@import 'colors';
@import 'logo';
@import 'fonts';
@import 'footer';
@import 'footer_branding';
@import 'footer_branding_logo';
@import 'footer_branding_dropdown';
@import 'footer_list';
@import 'footer_version';
@import 'footer_copyright';

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $charcoal;

// stylelint-enable value-keyword-case
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-xs:                $font-size-base * .6875 !default;

$h4-font-size:                $font-size-base * 1.5 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;


$navbar-light-color:                $mid-blue;
$navbar-light-hover-color:          $bright-blue;
$nav-link-weight:                   $font-weight-bold;
$nav-link-disabled-color:           $base-slate;

// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

$border-radius:               .0rem;

// Card
$card-cap-bg:                       $dark-blue;
$card-cap-color:                    $gold;
